*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #414141;
    color: #fff;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock{
    font-size: 40px;
    padding: 3% 5%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: orange;
}